.bottom__sociallink {
    animation: socialfloat 8s linear infinite;

}

@keyframes socialfloat {

    0%,
    100% {
        transform: rotate(6deg);
    }


    50% {
        transform: rotate(4deg);

    }
}