/* Float Name tag dec */
.decorname__name {
    animation: decorname 8s linear infinite;

}

@keyframes decorname {

    0%,
    100% {
        opacity: 0.4;
    }

    34% {
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    68% {
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

/* Main side decor */
.hero__sidedecormain {
    animation: maindecorrotate 100s linear infinite;

}

@keyframes maindecorrotate {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.5;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

/* Second side decor */
.hero__sidedecorsubmain>svg {
    animation: subdecorblink 60s linear infinite;
}

@keyframes subdecorblink {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
        left: inherit;
    }

    50% {
        opacity: 0.5;
        left: 50%;
    }

    100% {
        transform: rotate(360deg) scale(10);
        opacity: 0.1;
        left: 100%;
    }
}