/* ------------ Content About ------------ */
.content__about {
    position: relative;
    top: 0;
    /* because  header in fixed position */
    width: 100%;
    background-color: var(--bg-color-main);
}

.about__featured {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    max-width: clamp(480px, 80vw, 1024px);
    margin: 0 auto;
    padding: 20px 0;
}

/* about featured top content */
.featured__top {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px;
}

.top__aboutdetails {
    display: flex;
    width: 100%;
    padding: 10px;
}

.aboutdetail__title {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 0.5;
}

.title__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: space-between;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.title__text::before {
    flex: 1;
    content: "";
    padding: 0.025rem;
    margin: 10px;
    background-color: #a3a3a3;
}

.about__maindetail {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}

.maindetail__title {
    display: flex;
    flex-direction: column;
}

.maindetail__title > h4 {
    font-size: clamp(2rem, 2vw, 1.2rem);
    color: #333;
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
}

.maindetail__body > p {
    color: #a3a3a3;
    font-size: 0.8rem;
}

/* --------- */
.maindetail__sociallinks {
    display: flex;
    flex-direction: column;
}

.area__socialtitle {
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
    color: #333;
}

.sociallinks__area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area__socialtitle {
    display: flex;
    gap: 20px;
}

.area__socials {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.social__itemone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__itemone > i {
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: #0e06f0;
}

.social__itemone > p {
    font-size: 12px;
    font-weight: 600;
    color: #0e06f0;
    text-transform: capitalize;
}

.social__itemtwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__itemtwo > i {
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: #d9067e;
}

.social__itemtwo > p {
    font-size: 12px;
    font-weight: 600;
    color: #d9067e;
    text-transform: capitalize;
}

.social__itemthree {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__itemthree > i {
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: #ffaa00;
}

.social__itemthree > p {
    font-size: 12px;
    font-weight: 600;
    color: #ffaa00;
    text-transform: capitalize;
}

/* -------------------------- */
/* ------------featured bottom------------- */
.featured__bottom {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px 0;
}

.bottom__left {
    display: flex;
    flex: 1;
    padding: 0 10px;
}

/* main skill details */
.left__mainskills {
    display: flex;
}

.mainskill__titleskill {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 4px;
    flex: 0.5;
}

.titleskill__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    flex: 0.5;
    padding-bottom: 5px;
}

.titleskill__text::before {
    flex: 1;
    content: "";
    padding: 0.025rem;
    margin: 10px;
    background-color: #a3a3a3;
}

.mainskill__detailsskills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.detailsskills__title {
    color: #333;
}

.detailsskills__title > h4 {
    display: flex;
    flex-direction: column;
    font-size: clamp(2rem, 2vw, 1.2rem);
    color: #333;
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
}

/* .detailsskills__body {
    background-color: #aa2f8f;
} */

.detailsskills__body > p {
    color: #a3a3a3;
    font-size: 0.8rem;
}

.detailsskills__skilllevels {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 20px;
}

.skilllevel__skillbox {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.skillbox__title {
    display: flex;
    justify-content: space-between;
    color: #333;
}

.skillbox__title > h5 {
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.skillbox__title > p {
    font-weight: 600;
    font-size: 0.8rem;
}

.skillbox__bar {
    display: flex;
    align-items: center;
    height: 2px;
    background-color: #d3d3d3;
}

.bar__scale {
    height: 5px;
    width: 80%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #838bc2;
}

/* ------- */
/* ----Featured Bottom right tools widget---- */
.featured__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.bottom__right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.right__maintools {
    display: flex;
    flex: 1;
    padding: 5px;
}

.maintool__toolwidgets {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

/* ------ */
.toolwidget__widgetleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.toolwidget__widgetleft > .left__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);
    box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);

}

.toolwidget__widgetleft > .left__top > i {
    font-size: 40px;
    color: #838bc2;
}

.toolwidget__widgetleft > .left__top > p {
    font-size: 0.85rem;
}



.toolwidget__widgetleft > .left__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.25);
    box-shadow: 0px 0px 15px 10px rgba(131, 139, 194, 0.25);
}

.toolwidget__widgetleft > .left__bottom > i {
    font-size: 40px;
    color: #838bc2;
}

.toolwidget__widgetleft > .left__bottom > p {
    font-size: 0.85rem;
}

.toolwidget__widgetright {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toolwidget__widgetright > .right__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.25);
    box-shadow: 0px 0px 15px 10px rgba(131, 139, 194, 0.25);
}

.toolwidget__widgetright > .right__top > i {
    font-size: 40px;
    color: #838bc2;

}

.toolwidget__widgetright > .right__top > p {
    font-size: 0.85rem;
}

.toolwidget__widgetright > .right__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.25);
    box-shadow: 0px 0px 15px 10px rgba(131, 139, 194, 0.25);
}

.toolwidget__widgetright > .right__bottom > i {
    font-size: 40px;
    color: #838bc2;

}

.toolwidget__widgetright > .right__bottom > p {
    font-size: 0.85rem;
}

/* --------------------------------------- */
/* About main decor */
.about__decorone {
    position: absolute;
    z-index: 10;
    top: -5%;
    left: 140px;
    width: clamp(280px, 30vw, 480px);
}

.about__decortwo {
    position: absolute;
    z-index: 10;
    top: 40%;
    right: 0;
    width: clamp(40px, 5vw, 320px);
    fill: rgba(217, 161, 160, 0.5);
}

.about__decorthree {
    position: absolute;
    z-index: 10;
    opacity: 0.2;
    bottom: -220px;
    right: -60px;
    width: clamp(480px, 40vw, 640px);
}

.about__decorfour {
    position: absolute;
    z-index: 10;
    opacity: 0.2;

    bottom: 5%;
    left: -120px;
    width: clamp(240px, 5vw, 320px);
}

/* ----featureddecor---- */
.featureddecor__left {
    position: absolute;
    left: 0;
    display: flex;
    flex: 0.5;
    background-color: #5465ba;
}

.left__aboutimage > img {
    z-index: 20;
    position: relative;
    bottom: -4%;
    left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(320px, 100vw, 540px);
}

.left__aboutsvgbg {
    position: absolute;
    z-index: 19;
    bottom: -2%;
    left: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(320px, 100vw, 540px);
}

.featureddecor__right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex: 1;
}

/* /////////////////// */
@media screen and (min-width: 1024px) {
    .featured__top {
        display: flex;
        justify-content: end;
        width: 100%;
        height: 50%;
        padding: 5px;
    }

    .content__about {
        height: calc(100vh - 60px);
        /* ++ */
        scroll-snap-align: start;
    }

    .top__aboutdetails {
        width: 50%;
    }

    .area__socials {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 10px;
    }

    .maintool__toolwidgets {
        flex-direction: row;
    }

    .toolwidget__widgetleft {
        padding-bottom: 40px;
    }

    .toolwidget__widgetright {
        padding-top: 40px;

    }
}

/* ------------ Content Projects ------------ */