/* ------------ Content About ------------ */
.content__about {
    position: relative;
    top: 0px;
    /* because  header in fixed position */
    width: 100%;
    height: calc(100vh - 60px);
    /* ++ */
    overflow: hidden;
    scroll-snap-align: start;
    background-color: var(--bg-color-main);
}

.about__featured {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: clamp(60vw, 240px, 640px);
    margin: 0 auto;
    background: #b04cf3;
}

/* about featured top content */
.featured__top {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 5px;
    background-color: #e2c678;
}

.top__aboutdetails {
    display: flex;
    padding: 5px;
    width: clamp(50%, 240px, 640px);
    background-color: #fff;
}

.aboutdetail__title {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 0.5;
}

.title__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #f57474;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    flex: 0.5;

    padding-bottom: 5px;
}

.title__text::before {
    flex: 1;
    content: "";
    padding: 0.025rem;
    margin: 10px;
    background-color: #a3a3a3;
}

.about__maindetail {
    display: flex;
    flex-direction: column;
    background: #b26666;
    padding: 5px;
    gap: 20px;
}

.maindetail__title>h4 {
    display: flex;
    flex-direction: column;
    font-size: clamp(2vw, 2rem, 1.2rem);
    color: #333;
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
}

.maindetail__body>p {
    color: #a3a3a3;
    font-size: 0.8rem;
}

/* --------- */
.maindetail__sociallinks {
    display: flex;
    flex-direction: column;
}

.area__socialtitle {
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
    color: #333;
}

.sociallinks__area {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 150, 150);
    gap: 20px;
}

.area__socialtitle {
    background: #ca2c10;
    display: flex;
    gap: 20px;
}

.area__socials {
    display: flex;
    gap: 20px;
}



.social__itemone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__itemone>i {
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: #0e06f0;
}

.social__itemone>p {
    font-size: 12px;
    font-weight: 600;
    color: #0e06f0;
    text-transform: capitalize;
}

.social__itemtwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__itemtwo>i {
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: #d9067e;
}

.social__itemtwo>p {
    font-size: 12px;
    font-weight: 600;
    color: #d9067e;
    text-transform: capitalize;
}

.social__itemthree {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social__itemthree>i {
    color: #ffffff;
    font-size: 24px;
    padding: 4px;
    border-radius: 6px;
    background-color: #ffaa00;
}

.social__itemthree>p {
    font-size: 12px;
    font-weight: 600;
    color: #ffaa00;
    text-transform: capitalize;
}

/* -------------------------- */
/* ------------featured bottom------------- */
.featured__bottom {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    overflow: hidden;
    background-color: #f009d9;
}

.featured__bottom>.bottom__left {

    padding: 4px;
    flex: 1;
    display: flex;
    background-color: #8173d2;
}

/* main skill details */
.left__mainskills {
    display: flex;
    padding: 40px 0;
    background-color: #507e7e;
}

.mainskill__titleskill {
    background-color: #16ed07;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 4px;
    flex: 0.5;
}


.titleskill__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #322f2f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a3a3a3;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    flex: 0.5;
    padding-bottom: 5px;
}

.titleskill__text::before {
    flex: 1;
    content: "";
    padding: 0.025rem;
    margin: 10px;
    background-color: #a3a3a3;
}

.mainskill__detailsskills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #c2bdbd;
    padding: 5px;
}

.detailsskills__title {
    background-color: #fff;
}

.detailsskills__title>h4 {
    display: flex;
    flex-direction: column;
    font-size: clamp(2vw, 2rem, 1.2rem);
    color: #333;
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
}

.detailsskills__body {
    background-color: #aa2f8f;
}

.detailsskills__body>p {
    color: #d3d3d3;
    font-size: 0.8rem;
}

.detailsskills__skilllevels {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 20px;
    background: #6a6d6c;
}

.skilllevel__skillbox {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.skillbox__title {
    display: flex;
    justify-content: space-between;
    color: #333;
}

.skillbox__title>h5 {
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.skillbox__title>p {
    font-weight: 600;
    font-size: 0.8rem;
}

.skillbox__bar {
    display: flex;
    align-items: center;
    height: 2px;
    background: #d3d3d3;
}

.bar__scale {
    height: 5px;
    width: 80%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #838bc2;
}

/* ------- */
/* ----Featured Bottom right tools widget---- */
.featured__bottom>.bottom__right {
    display: flex;
    flex: 1;
    padding: 4px;
    background-color: #110de1;
}

.right__maintools {
    display: flex;
    flex: 1;
    padding: 2px;
    background-color: #09d551;
}

.maintool__toolwidgets {
    display: flex;
    flex: 1;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #e73f3f;
}

/* ------ */
.toolwidget__widgetleft {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    background-color: #61d2b0;
}


.toolwidget__widgetleft>.left__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);
    box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);

}

.toolwidget__widgetleft>.left__top>i {
    font-size: 40px;
    color: #838bc2;
}


.toolwidget__widgetleft>.left__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.25);
    box-shadow: 0px 0px 15px 10px rgba(131, 139, 194, 0.25);

}

.toolwidget__widgetleft>.left__bottom>i {
    font-size: 40px;
    color: #838bc2;
}

.toolwidget__widgetright {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    background-color: #61d2b0;
}

.toolwidget__widgetright>.right__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.25);
    box-shadow: 0px 0px 15px 10px rgba(131, 139, 194, 0.25);
}

.toolwidget__widgetright>.right__top>i {
    font-size: 40px;
    color: #838bc2;

}

.toolwidget__widgetright>.right__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 6px;
    background-color: #fffdfa;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.25);
    box-shadow: 0px 0px 15px 10px rgba(131, 139, 194, 0.25);
}

.toolwidget__widgetright>.right__bottom>i {
    font-size: 40px;
    color: #838bc2;

}

/* --------------------------------------- */
/* About main decor */
.about__decorone {
    position: absolute;
    z-index: 10;
    top: -5%;
    left: 140px;
    width: clamp(30vw, 280px, 480px);
}

.about__decortwo {
    position: absolute;
    z-index: 10;
    top: 5%;
    right: -120px;
    width: clamp(5vw, 240px, 320px);
}

.about__decorthree {
    position: absolute;
    z-index: 10;
    opacity: 0.2;
    bottom: -220px;
    right: -60px;
    width: clamp(50vw, 480px, 640px);
}

.about__decorfour {
    position: absolute;
    z-index: 10;
    opacity: 0.2;

    bottom: 5%;
    left: -120px;
    width: clamp(5vw, 240px, 320px);
}

/* ----featureddecor---- */
.featureddecor__left {
    position: absolute;
    left: 0;
    display: flex;
    flex: 0.5;
    background-color: #5465ba;
}

.left__aboutimage>img {
    z-index: 20;
    position: relative;
    bottom: -4%;
    left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(320px, 100vw, 540px);
}

.left__aboutsvgbg {
    position: absolute;
    z-index: 19;
    bottom: -2%;
    left: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(320px, 100vw, 540px);
}

.featureddecor__right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex: 1;
    background: #9f9f9f;

}

/* /////////////////// */
/* ------------ Content Projects ------------ */