.content__contact {
    position: relative;
    top: 0px;
    /* because  header in fixed position */
    width: 100%;
    background-color: #fffdfa;
}

/* .contact__bgDecor {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-top: 50vh solid #fffdfa;
    border-left: 50vw solid #fffdfa;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid transparent;
} */

.contactFeatured__options {
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.contactTop__contactdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: clamp(280px, 40vw, 1024px);
}

.option__contactTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.contactdetails__contactTitle {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    font-size: 2.5rem;
    word-spacing: 4px;
    color: #333;
}

.contactdetail__contacSubtitle {
    text-align: center;
    color: #333;
    font-size: 0.85rem;
}

.option__contactBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    gap: 40px;
}

.option__contactLeft {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 1;
    width: 100%;
    gap: 20px;
    padding: 8px;
}

.option__contactLeft > textarea {
    font-family: 'Inconsolata', monospace;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 6px;
    -webkit-box-shadow: 12px 12px 12px 2px rgba(131, 139, 194, 0.5);
    -moz-box-shadow: 12px 12px 12px 2px rgba(131, 139, 194, 0.5);
    box-shadow: 12px 12px 12px 2px rgba(131, 139, 194, 0.5);
    width: clamp(180px, 25vw, 1024px);
    height: 180px;
    background-color: #ebe7fa;
}

.contactLeft__contactSocial {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.contactLeft__contactSocial > i {
    font-size: 24px;
    color: #838bc2;
    transition: all 0.5s ease;
}

.contactLeft__contactSocial > i:hover {
    transform: scale(1.2);
}

.contactLeft__contactSocial > i:active {
    transform: scale(0.8);
}

.option__contactRight {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-bottom: 40px;
}


.contact__input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

label {
    font-family: 'Inconsolata', monospace;
}

.contact__input > input {
    font-family: 'Inconsolata', monospace;
    outline: none;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    background-color: #ebe7fa;
    width: clamp(200px, 25vw, 1024px);
    -webkit-box-shadow: 12px 12px 12px 2px rgba(131, 139, 194, 0.5);
    -moz-box-shadow: 12px 12px 12px 2px rgba(131, 139, 194, 0.5);
    box-shadow: 12px 12px 12px 2px rgba(131, 139, 194, 0.5);
}


.contact__input > button {
    cursor: pointer;
    background-color: #ebe7fa;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Inconsolata', monospace;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.contact__input > button:active {
    transform: scale(0.8);
}

/* ---------------- */
/* -----Contact decor------ */
.contactdecor__one {
    position: absolute;
    z-index: 10;
    top: -5%;
    left: -5%;
    width: 400px;
    height: 400px;
    fill: rgb(131, 139, 194, 0.5);
}


.contactdecor__two {
    position: absolute;
    z-index: 10;
    top: 8%;
    left: 20%;
    width: 40px;
    height: 40px;
    fill: rgb(131, 139, 194, 0.8);
}

.contactdecor__three {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 24%;
    width: 18px;
    height: 18px;
    fill: rgb(131, 139, 194, 0.4);
}

.contactdecor__four {
    position: absolute;
    z-index: 10;
    top: 2%;
    right: 6%;
    width: 28px;
    height: 28px;
    fill: rgb(131, 139, 194, 0.5);
}

.contactdecor__five {
    position: absolute;
    z-index: 10;
    top: 20%;
    right: 4%;
    width: 18px;
    height: 18px;
    fill: rgba(255, 253, 250, 0.6);
}

.contactdecor__six {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 28%;
    width: 60px;
    height: 60px;
    fill: rgb(131, 139, 194, 0.5);
}

.contactdecor__seven {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 18%;
    width: 18px;
    height: 18px;
    fill: rgba(235, 231, 250, 0.8);
}

.contactdecor__eight {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 4%;
    width: 40px;
    height: 40px;
    fill: rgba(217, 161, 160);
}

.contactdecor__nine {
    position: absolute;
    z-index: 10;
    bottom: 10%;
    left: 40%;
    width: 40px;
    height: 40px;
    fill: rgb(165, 140, 179);
}

.contactdecor__ten {
    position: absolute;
    z-index: 10;
    bottom: -10%;
    left: 40%;
    width: 280px;
    height: 280px;
    fill: rgba(235, 231, 250, 0.8);
}

.contactdecor__eleven {
    position: absolute;
    z-index: 10;
    bottom: 28%;
    right: 5%;
    width: 30px;
    height: 30px;
    fill: rgb(235, 231, 250, 0.8);
}

.contactdecor__twelve {
    position: absolute;
    z-index: 10;
    top: 26%;
    right: 25%;
    width: 100px;
    height: 100px;
    fill: rgb(165, 140, 179, 0.8);
}

.contactdecor__thirteen {
    position: absolute;
    z-index: 10;
    top: 55%;
    right: 10%;
    width: 20px;
    height: 20px;
    fill: rgba(217, 161, 160, 0.8);
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .content__contact {
        height: calc(100vh - 60px);
        overflow: hidden;
        scroll-snap-align: start;

    }
}