/* /////////////////// */
/* ------------ Content Projects ------------ */
.content__projects {
    position: relative;
    top: 0;
    /* because  header in sticky position */
    width: 100%;
    height: calc(100vh - 60px);
    /* ++ */
    overflow: hidden;
    scroll-snap-align: start;
    background-color: var(--bg-color-main);
    border: 8px solid #095c97;
}

.project__featured {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #f8c681;
}

.project__featured>.featured__left {
    background-color: #e03f3f;
}

.project__featured>.featured__right {
    background-color: #55f377;
}