@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');


/* //////////////////////////////// */

/* Main Content */
.home__content {
    position: relative;
    top: 60px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color-main);
    /* Firefox */
    scrollbar-width: none;
    scrollbar-color: #838BC2 transparent;
    scroll-snap-type: y mandatory;
}

/* Chrome, Edge, and Safari */
.home__content::-webkit-scrollbar {
    width: 10px;
}

.home__content::-webkit-scrollbar-track {
    background-color: #EAE7FA;
}

.home__content::-webkit-scrollbar-thumb {
    background-color: #838BC2;
    border-radius: 10px;
    border: 1px solid fbc23d;
}

/* Hero Section */
.content__hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    scroll-snap-align: start;
}

.hero__decorname {
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 10;
}

.decorname__name {
    font-family: 'Gloria Hallelujah', cursive;
    color: #EAE7FA;
    font-size: 100px;
    letter-spacing: 2rem;
    opacity: 1;
    transform: rotate(-20deg);
}

.hero__sidedecormain {
    position: absolute;
    display: flex;
    width: fit-content;
    height: 400px;
    top: 200px;
    left: -200px;
}

.hero__sidedecorsubmain {
    position: absolute;
    display: flex;
    width: fit-content;
    height: 200px;
    bottom: 0;
    left: -50px;
}

/* //////////////////////// */
/*  Hero details */
/* detail top */
.hero__details {
    /* add here */
    position: relative;
    z-index: 50;
    display: flex;
    width: clamp(50vw, 320px, 786px);
    height: 100%;
    gap: 40px;
    padding: 8px;
}

.details__detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    max-width: fit-content;
    justify-content: center;
}

.detail__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top__name {
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    font-size: 2.5rem;
    word-spacing: 2px;
    color: #333;
}

.top__name>span {
    color: #D9A1A0;
}

.top__jobposition {
    display: flex;
    gap: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
    font-size: 2.5rem;
    color: #838BC2;
    word-spacing: 10px;
}

.top__jobposition>.top__jobpositioncursor {
    border: 4px solid #EAE7FA;
    font-size: 1.5rem;
}

.top__desc {
    color: #838BC2;
    font-size: 0.8rem;
    max-width: 72%;
}

/* ////////////////////// */
/* detail bottom */
.detail__bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0;
}

.bottom__profile {
    display: flex;
    gap: 20px;

}

.profile__email {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.email__title {
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    color: #333;
}

.email__detail {
    color: #838BC2;
    font-weight: normal;
    font-size: 0.85rem;
}

.profile__link {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.link__title {
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
    color: #333;
}

.link__detail {
    color: #838BC2;
    font-weight: normal;
    font-size: 0.85rem;
}

/* Detail Bottom Contact link */
.bottom__contactlink {
    display: flex;
    gap: 10px;
}

.bottom__contactlink>button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    overflow: hidden;
}

.contaclink__downloadcv {
    position: relative;
    background-color: #838BC2;
}

.contaclink__downloadcv>h4 {
    letter-spacing: 2px;
    color: #fff;
}

.downloadcv__decor {
    fill: #eae7fa;
    transform: rotate(135deg);
    position: absolute;
    top: -180%;
    left: -10px;
    width: 100%;
    height: auto;
    opacity: 0.2;
}

.contactlink__hireme {
    cursor: pointer;
    background-color: #EAE7FA;
    color: #838BC2;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
}

.contactlink__hireme {
    font-weight: 600;
    letter-spacing: 2px;
}

.contactlink__hireme,
.contaclink__downloadcv {
    transition: all 0.25s ease-in-out;
}

.contactlink__hireme:hover,
.contaclink__downloadcv:hover {
    transform: scale(1.05);
}

.contactlink__hireme:active,
.contaclink__downloadcv:active {
    transform: scale(0.95);
}

/* /////// */
/* Bottom Social Links */
.bottom__sociallink {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: 20px;
    transform: rotate(4deg);
}

.sociallink__main {
    display: flex;
    gap: 10px;
}

.sociallink__main>p {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

.sociallink__main>i {
    font-size: 1.2rem;
    color: #838BC2;
    cursor: pointer;
}

.sociallink__main>i:hover {
    transform: scale(1.2);
}

.sociallink__right {
    display: flex;
    gap: 20px;
}

.sociallink__right>i {
    font-size: 1.2rem;
    cursor: pointer;
    color: #838BC2;
}

.sociallink__right>i:hover {
    transform: scale(1.2);
}

/* //////////////// */
/* Bottom widget */
.detail__herowidgets {
    position: relative;
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.herowidgets__items {
    display: flex;
    padding: 8px;
    flex: 1;
    border-radius: 6px;
    background-color: #FFFDFA;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);
    box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);
    transition: all 0.25s ease-in-out;
}

.herowidgets__items:hover {
    position: relative;
    top: -20px;
    background-color: #FFFDFA;
    border-bottom: 1px solid rgb(131, 139, 194, 0.15);
    -webkit-box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);
    box-shadow: 0px 0px 15px 10px rgb(131, 139, 194, 0.15);
}

.item__widgetone,
.item__widgettwo,
.item__widgetthree {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 20px;
    padding: 8px;
    justify-content: space-around;
}

.item__widgetone>.fa-check {
    padding: 4px;
    color: #fff;
    background-color: #838BC2;
    border-radius: 50%;
}

.item__widgettwo>.fa-check {
    padding: 4px;
    color: #fff;
    background-color: #D9A1A0;
    border-radius: 50%;
}

.item__widgetthree>.fa-check {
    padding: 4px;
    color: #838BC2;
    background-color: #EAE7FA;
    border-radius: 50%;
}

/* /////////////////// */
/* hero image area */
.hero__profileimage {
    position: absolute;
    display: flex;
    padding: 5px;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;

}

.profileimage__imageblob {
    display: flex;
    z-index: 20;
    width: clamp(50vw, 240px, 640px);
    filter: drop-shadow(0px 0px 20px rgba(131, 139, 194, 0.6));
}


.profileimage__imagedecor {
    position: absolute;
    fill: #eae7facc;
    z-index: 10;
    display: flex;
    align-items: end;
    height: 100%;
    width: clamp(15vw, 120px, 240px);
}

/* /////////////////////////////////////////////////////// */
/* ------------ Content About ------------ */