/* ------------ Content About ------------ */
.content__about {
    position: relative;
    width: 100%;
    height: 100vh;
    /* ++ */
    display: flex;
    overflow: hidden;
    scroll-snap-align: center;
    background-color: #3803f8;
}

.about__featured {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f7930651;
}

.featured__left{
   background-color: #fff;
}

.featured__right{
    background-color: #f28e8e;
 }


/* /////////////////// */
/* ------------ Content Projects ------------ */
.content__project {
    position: relative;
    width: 100%;
    height: 100vh;
    /* ++ */
    display: flex;
    overflow: hidden;
    scroll-snap-align: center;
    background-color: #145571;
}

.project__featured {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f7930651;
}
